*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table{
    margin: -10px auto;
}
table td{
    padding: 10px;
}
h2{
    color:rgb(13, 95, 153);
    text-transform: uppercase;
    margin-bottom: 20px;
}
h3{
    margin-top: 20px;
    list-style: square;
}
h2 u{
    color:rgb(110, 106, 106);
}

.h1{
        
        text-align: center;
        color:rgb(110, 106, 106);
        font-size: 21px;
        font-weight: lighter;
}
article h2{
    color: rgba(176, 40, 40,0.8);
    margin: 12px auto;
    text-align: center;
}
hr{
    margin-top: 20px;
}
h3 li{
    margin-top: 55px;
    color: brown;
}
ruby rt{
    font-size: 12px;
    color: brown;
    font-weight: bolder;
}
ruby{
    margin: 0.5% 28%;
}
figcaption span{
    color: brown;
    font-weight: 700;
}
figure img{
   margin-left:20%;
}
cite{
margin-left: 100px;
}
abbr{
    margin: 10px 250px;
}
button a{
    text-decoration: none;
    /* justify-content: center; */
    color: white;
    font-weight: 500;
    font-size: 18px;
}
button{
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    background-color: #cd3737;
    bottom: 0px solid;
    border-radius: 10px;
    border: 0px;
    border: 1px solid;

    
}
button:hover{
    background-color: navajowhite;
}
.que2{
    color: rgba(176, 40, 40,0.8);
    margin: 12px auto;
    text-align: center;
}
.ans2 h3{
    margin-top: -15px;
}
video{
    margin-top: 33px;
    outline: 9.5px inset #cacaca;
}
audio{
    margin-top: 40px;
}
.ans2 b{
    color: #cd3737;
}